@import '../../assets/variables';

main.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  header {
    align-items: center;
    display: flex;

    img {
      height: $avatar-size * 2;
      width: $avatar-size * 2;
    }

    div {
      margin-left: $layout-margin;

      p {
        color: $color-text-light;
        margin: $layout-padding 0 0;
      }
    }
  }

  section {
    display: flex;
    margin: $layout-margin 0;
    max-width: $column-max-width;

    a {
      margin: $layout-padding;
    }
  }
}
