@import '../../assets/variables';

section.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: $column-max-width;
  min-width: $column-min-width;
  overflow: hidden;

  &:not(:first-child) {
    h2 {
      border-left: 1px solid lighten($color-accent, 10%);
    }

    section {
      border-left: 1px solid darken($color-background, 15%);
    }
  }

  h2 {
    background: $color-accent;
    color: $color-background;
    font-size: $text-size-regular;
    padding: $layout-padding;
  }

  section {
    flex: 1;
    overflow: auto;
  }
}

$min-width: $column-max-width * 3 + $nav-bar-size;

@media only screen and (min-width: $min-width) {
  section.posts {
    &:last-child {
      border-right: 1px solid darken($color-background, 15%);
    }
  }
}
