@import '../../assets/variables';

main.home {
  padding: $layout-margin;

  h1 {
  }

  article {
    margin: $layout-margin 0;

    a {
      align-items: center;
      display: flex;

      img {
        margin-right: $layout-padding;
      }
    }
  }
}
