@import '../../assets/variables';

article.post {
  padding: $layout-padding;

  &:not(:first-child) {
    border-top: 1px solid darken($color-background, 10%);
  }

  header {
    align-items: center;
    display: flex;
    margin-bottom: $layout-padding;

    .user {
      align-items: center;
      display: flex;

      h4 {
        flex: 1;
        margin: 0 $layout-padding;
      }
    }

    aside {
      color: $color-text-light;
      font-size: $text-size-small;
      line-height: 1;
      margin-left: auto;
    }
  }

  .body {
    h1,
    h2,
    h3,
    h4 {
      font-size: $text-size-regular;
      line-height: $text-line-height;
    }
  }

  footer {
    display: flex;
    margin: 0 (-$layout-padding) (-$layout-padding);

    a {
      align-items: center;
      color: $color-text;
      display: flex;
      opacity: 0.5;
      padding: $layout-padding;

      &:hover {
        opacity: 1;
      }

      &.likes {
        &:before {
          background-image: url('../../assets/likes.svg');
        }
      }

      &.comments {
        &:before {
          background-image: url('../../assets/comments.svg');
        }
      }

      &:before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: $layout-padding;
        content: '';
        height: $layout-padding;
        margin-right: $layout-padding / 2;
        width: $layout-padding;
      }
    }
  }
}
