@import '../../assets/variables';

main.post-view {
  max-width: $column-min-width * 2;

  .post {
    header {
      img {
        height: $avatar-size * 2;
        width: $avatar-size * 2;
      }

      h4 {
        font-size: 150%;
      }
    }
  }
}
